@page "/Admin/Access_denied"

@layout BlankLayout

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="403Page.css" rel="stylesheet" />

</head>
<body>
<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">403</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">can't let <span>you</span> in.</span>
        <span class="support">
            <span>unexpected?</span>
            <a href="#">contact support</a>
        </span>
    </div>
    <div class="lock"></div>
</div>
</body>

</html>

@code {
    
}